@import "tailwindcss";

:root {
  /* Safe Areas для iOS (Челка и полоска свайпа) */
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  background-color: var(--tg-theme-secondary-bg-color, #f4f4f5);
  color: var(--tg-theme-text-color, #000000);
  /* Убирает синий квадрат при тапе по экрану на iOS */
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

/* --- УБИРАЕМ СКРОЛЛБАРЫ ДЛЯ NATIVE FEEL --- */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
